// ## 定义常用颜色的样式
// ------------------------------

$theme-main-color: #fb4176;
$theme-big-title-text-color: #1a1a1a;
$theme-normal-title-text-color: #1a1a1a;
$theme-read-text-color: #666666;
$theme-tag-text-color: #b3b3b3;
